#column_wrap
  - if !@posts.empty?
    #posts
      - @posts.each_with_index do |post,i|
        - if @posts.length > 1
          %h3
            - if post.content and !post.content.empty?
              =link_to post.title, 'javascript:void(0);', :onclick => "Effect.toggle('post_content_#{i}','blind')"
            - else
              = post.title
        %div{:style => (@posts.length > 1 ? 'display: none;' : ''), :id => "post_content_#{i}"}= render(:partial => 'posts/show.html.haml', :locals => {:post => post})
        %hr
  #photos
    - if @photos.empty?
      No photos have been uploaded for this post!
    - else
      - @photos.each do |photo|
        .image_wrapper=image_tag post_path(photo, :jpg, :size => 'small'), :alt => '', :onclick => "newiBox('#{post_path(photo, :jpg)}','#{photo.title.gsub("'","\\'")}')"

.clear &nbsp;